<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ribans</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/learn_mode">覚えるパート</a></li>
            <li><a href="/challenge_mode ">チャレンジパート</a></li>
            <li><a href="/training_mode">トレーニング</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user && current_user.administrator? %>
              <li><%= link_to "Admin", rails_admin_path %></li>
            <% end %>
            <% if user_signed_in? %>
              <img src=<%#= current_user.image_url %> alt="">
              <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete, :confirm => 'Are you sure?' %></li>
            <% else %>
              <li><%= link_to "TwitterLogin", user_twitter_omniauth_authorize_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <main>
    <%= alert %>
    <%= yield %>
    </main>
  </body>
</html>
